{% extends "layouts/base.njk" %}

{% block content %}
    <section class="stacker">
        <p>
            PostScript Medical, founded by a gastroenterologist and dietitian, is for healthcare professionals who want to personalise care.
        </p>

        <p>
            Co-founders Rajan and Graeme embarked upon a journey to bring high quality digital illustrations, which can be annotated and individualised, to every patient they see.
        </p>
    </section>

    {% include "partials/section-hospitals.njk" %}
{% endblock %}