{% extends "layouts/base.njk" %}

{% block content %}
    <div class="contributors stacker--large">
        {% set contributorsHeader = "Cardiology" %}
        {% set contributorsSubHeader = "Maecenas sagittis, lacus ac euismod tincidunt, nibh." %}
        {% set contributorsContent = collections.contributorsCardiology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Dermatology" %}
        {% set contributorsSubHeader = "Maecenas sagittis, lacus ac euismod tincidunt, nibh." %}
        {% set contributorsContent = collections.contributorsDermatology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Gatroenterology" %}
        {% set contributorsSubHeader = "Maecenas sagittis, lacus ac euismod tincidunt, nibh." %}
        {% set contributorsContent = collections.contributorsGastroenterology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Oncology" %}
        {% set contributorsSubHeader = "Maecenas sagittis, lacus ac euismod tincidunt, nibh." %}
        {% set contributorsContent = collections.contributorsOncology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Surgery" %}
        {% set contributorsSubHeader = "Maecenas sagittis, lacus ac euismod tincidunt, nibh." %}
        {% set contributorsContent = collections.contributorsSurgery %}
        {% include "partials/contributors-specialty.njk" %}
    </div>

    {% include "partials/section-supporters.njk" %}
{% endblock %}