{% extends "layouts/base.njk" %}

{% block content %}
    <div class="contributors stacker--large">
        {% set contributorsHeader = "Cardiology" %}
        {% set contributorsContent = collections.contributorsCardiology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Dermatology" %}
        {% set contributorsContent = collections.contributorsDermatology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Gastroenterology" %}
        {% set contributorsContent = collections.contributorsGastroenterology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Oncology" %}
        {% set contributorsContent = collections.contributorsOncology %}
        {% include "partials/contributors-specialty.njk" %}

        {% set contributorsHeader = "Surgery" %}
        {% set contributorsContent = collections.contributorsSurgery %}
        {% include "partials/contributors-specialty.njk" %}
    </div>
{% endblock %}