{% set pageCriticalStyles = ['css/home.css'] %}

{% extends "layouts/base.njk" %}

{% block content %}
    <section class="intro stacker--x-large">
        <article class="intro-card">
            <h2>
                Communication made easy
            </h2>

            <p>
                Overcoming obstacles to communication such as language barriers, hearing impairments and learning difficulties with individualised illustrations.
            </p>

            <a href="/research">
                Read the research
            </a>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618430532/postscript-medical/marketing-website/device-1_rznq2h.png" />
        </article>

        <article class="intro-card">
            <h2>
                Improving the efficiency of consultations
            </h2>

            <p>
                Intuitive, simple tools to make explanations and patiens communication simpler, faster.
            </p>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618430532/postscript-medical/marketing-website/device-2_uddxpr.png" />
        </article>

        <article class="intro-card--b stacker">
            <h2>
                Multi-device access
            </h2>

            <p>
                High performance on your clinic room desktop and on the move with your tablet or smartphone.
            </p>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618430532/postscript-medical/marketing-website/device-3_jsk4sa.png" />
        </article>
    </section>

    {% include "partials/section-effectiveness.njk" %}

    {% include "partials/section-testimonials.njk" %}

    {% include "partials/section-contributors.njk" %}

    {% include "partials/section-supporters.njk" %}
{% endblock %}