{% set pageCriticalStyles = ['css/home.css'] %}

{% extends "layouts/base.njk" %}

{% block content %}
    <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618662316/postscript-medical/marketing-website/application-1_cbclzo.jpg" />

    <section class="intro stacker--x-large">
        <article class="intro-card">
            <h2>
                Communication made easy.
            </h2>

            <p>
                Overcome obstacles such as language barriers, hearing impairments and learning difficulties with individualised illustrations.
            </p>

            <a href="/research">
                Review the research
            </a>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618662316/postscript-medical/marketing-website/device-1_wnd8eu.jpg" />
        </article>

        <article class="intro-card">
            <h2>
                Improve the efficiency of consultations.
            </h2>

            <p>
                An intuitive tool to simplify the message to patients.
            </p>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618662316/postscript-medical/marketing-website/device-2_yk9yyj.jpg" />
        </article>

        <article class="intro-card--b stacker">
            <h2>
                Multi-device access.
            </h2>

            <p>
                High performance on your clinic room desktop and on the move with your tablet or smartphone.
            </p>

            <img alt="" src="https://res.cloudinary.com/obscura-limited/image/upload/v1618662316/postscript-medical/marketing-website/device-3_y4upbm.jpg" />
        </article>
    </section>

    {% include "partials/section-effectiveness.njk" %}

    {% include "partials/section-testimonials.njk" %}

    {% include "partials/section-contributors.njk" %}

    {% include "partials/section-supporters.njk" %}
{% endblock %}