{% set pageCriticalStyles = ['css/pricing.css'] %}

{% extends "layouts/base.njk" %}

{% include "partials/section-supporters.njk" %}

{% block content %}
  <div class="pricing-table__wrapper width--max">
    <table>
      <tr>
        <th>
          Features
        </th>
        
        <th>
          Individual
        </th>
        
        <th>
          Teams
        </th>
        
        <th>
          Hospitals
        </th>
        
        <th>
          Custom
        </th>
      </tr>

      <tr>
      </tr>

      <tr>
        <td>
          &nbsp;
        </td>

        <td>
          <div class="subscription-summary stacker--tightest">
            <span class="price">
              £9.95
            </span>
            
            <span class="billing-frequency">
              per month
            </span>
            
            <a href="https://app.postscriptmedical.com/sign-up?plan=1" class="cta">
              Get started
            </a>
          </div>
        </td>

        <td>
          <div class="subscription-summary stacker--tightest">
            <span class="price">
              £995
            </span>
            
            <span class="billing-frequency">
              per year
            </span>
            
            <a href="https://app.postscriptmedical.com/sign-up?plan=2" class="cta">
              Get started
            </a>
          </div>
        </td>
        
        <td>
          <div class="subscription-summary stacker--tightest">
            <span class="price">
              £9,995
            </span>
            
            <span class="billing-frequency">
              per year
            </span>
            
            <a href="https://app.postscriptmedical.com/sign-up?plan=3" class="cta">
              Get started
            </a>
          </div>
        </td>

        <td>
          <div class="subscription-summary stacker--tightest">
            <span>
              Please <a href="mailto:admin@postscriptmedical.com?subject=Custom%20plan%20enquiry">contact us</a> to discuss your requirements
            </span>
            <a href="mailto:admin@postscriptmedical.com?subject=Custom%20plan%20enquiry" class="cta--secondary">
              Contact us
            </a>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          Users
        </td>

        <td>
          1
        </td>

        <td>
          Up to 10
        </td>
        
        <td>
          Unlimited
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Access to single specialty illustrations
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Smartphone, tablet and desktop access
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Annotation tools
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Email function
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Print function
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Access all specialties
        </td>

        <td class="not-included">
          <span>
            Not included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Multi-user management
        </td>

        <td class="not-included">
          <span>
            Not included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Dedicated support
        </td>

        <td class="not-included">
          <span>
            Not included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Training sessions
        </td>

        <td class="not-included">
          <span>
            Not included
          </span>
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>
        
        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          Add more specialties for £4.95 each
        </td>

        <td class="included">
          <span>
            Included
          </span>
        </td>

        <td class="not-included">
          <span>
            Not included
          </span>
        </td>
        
        <td class="not-included">
          <span>
            Not included
          </span>
        </td>

        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
{% endblock %}