{% extends "layouts/base.njk" %}

{% include "partials/section-supporters.njk" %}

{% block content %}
  <table>
    <tr>
      <th>
        Features
      </th>
      
      <th>
        Individuals
      </th>
      
      <th>
        Teams
      </th>
      
      <th>
        Hospitals
      </th>
      
      <th>
        Custom
      </th>
    </tr>

    <tr>
      <td>
        &nbsp;
      </td>

      <td>
        <span>
          £9.95
        </span>
        
        <span>
          per month
        </span>
        
        <a href="https://app.postscriptmedical.com/sign-up?plan=1">
          Get started
        </a>
      </td>

      <td>
        <span>
          £995
        </span>
        
        <span>
          per year
        </span>
        
        <a href="https://app.postscriptmedical.com/sign-up?plan=2">
          Get started
        </a>
      </td>
      
      <td>
        <span>
          £9,995
        </span>
        
        <span>
          per year
        </span>
        
        <a href="https://app.postscriptmedical.com/sign-up?plan=3">
          Get started
        </a>
      </td>

      <td>
        <a href="mailto:admin@postscriptmedical.com?subject=Custom%20plan%20enquiry">
          Contact us directly
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Users
      </td>

      <td>
        1
      </td>

      <td>
        Up to 10
      </td>
      
      <td>
        Unlimited
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Access to single specialty illustrations
      </td>

      <td>
        Included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Smartphone, tablet and desktop access
      </td>

      <td>
        Included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Annotation tools
      </td>

      <td>
        Included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Email function
      </td>

      <td>
        Included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Print function
      </td>

      <td>
        Included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Access all specialties
      </td>

      <td>
        Not included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Multi-user management
      </td>

      <td>
        Not included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Dedicated support
      </td>

      <td>
        Not included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Training sessions
      </td>

      <td>
        Not included
      </td>

      <td>
        Included
      </td>
      
      <td>
        Included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td>
        Add more specialties for £4.95 each
      </td>

      <td>
        Included
      </td>

      <td>
        Not included
      </td>
      
      <td>
        Not included
      </td>

      <td>
        &nbsp;
      </td>
    </tr>
  </table>
{% endblock %}