{% set pageCriticalStyles = ['css/research.css'] %}

{% extends "layouts/base.njk" %}

{% block content %}
  <section class="intro stacker--x-large">
    {% set researchFindingsCardContent = keyFindings.cardContent1 %}
    {% include "partials/research-findings-card.njk" %}

    {% set groupContent = keyFindings.researchPage1 %}
    {% include "partials/key-findings-group.njk" %}

    {% set researchFindingsCardContent = keyFindings.cardContent2 %}
    {% include "partials/research-findings-card.njk" %}

    {% set groupContent = keyFindings.researchPage2 %}
    {% include "partials/key-findings-group.njk" %}

    {% set researchFindingsCardContent = keyFindings.cardContent3 %}
    {% include "partials/research-findings-card.njk" %}
  </section>

  {% include "partials/section-supporters.njk" %}
{% endblock %}