{% extends "layouts/base.njk" %}

{% block content %}
  <section class="intro">
    <h1>{{ heading }}</h1>

    <p>{{ subHeading }}</p>

    <article>
      <h2>
        Unanimous positive feedback
      </h2>

      <figure>
        <p>
          100%
        </p>

        <figcaption>
          Specialists that would use PostScript in routine clinical practice
        </figcaption>
      </figure>
    </article>

    {% set groupContent = collections.keyFindings %}
    {% include "partials/key-findings-group.njk" %}

    <article>
      <h2>
        Improved communication
      </h2>

      <figure>
        <p>
          83%
        </p>

        <figcaption>
          Specialists that reported enhanced patient communication.
        </figcaption>
      </figure>
    </article>

    {% set groupContent = collections.keyFindings %}
    {% include "partials/key-findings-group.njk" %}

    <article>
      <h2>
        Time well spent
      </h2>

      <figure>
        <p>
          72%
        </p>

        <figcaption>
          Specialists that reported more effective and efficient use of clinical time with PostScript.
        </figcaption>
      </figure>
    </article>
  </section>

  {% include "partials/section-hospitals.html" %}
{% endblock %}