// Constants
$width_min: 20ch;
$width_max: 1200px;
$width_half: $width_max / 2;
$width_paragraph: 60ch;
// Sizing scale
$base_size: 1rem;
$size_100: $base_size * 0.25;
$size_200: $base_size * 0.5;
$size_300: $base_size * 0.75;
$size_400: $base_size;
$size_500: $base_size * 1.33;
$size_600: $base_size * 1.77;
$size_700: $base_size * 2.36;
$size_800: $base_size * 3.15;
$size_900: $base_size * 4.2;
// Colours
$color_light: #FFFFFF;
$color_darkish: #575757;
$color_dark: #252525;
$color_primary: #379A46;
$color_primary_light: #389A2F;
// $color_primary_dark: 
$color_secondary: #A1A1A1;
$color_accent: #1C1447;
// Breakpoints
$break_one: 600px;
$break_two: 1024px;