$base_size: 1rem;
$size_300: $base_size * 0.75;
$size_400: $base_size;
$size_500: $base_size * 1.33;
$size_600: $base_size * 1.77;
$size_700: $base_size * 2.36;
$size_800: $base_size * 3.15;
$size_900: $base_size * 4.2;