footer {
    background-color: $color_dark;
    color: $color_light;
    padding: $size_700 $size_400 $size_800;
}

footer a:link {
    color: $color_light;
}

footer a:visited {
    color: $color_secondary;
}

ul.footer__list--primary {
    display: flex;
    flex-wrap: wrap;
    max-width: $width_max;
    margin: auto;
}

.footer__list--primary>* {
    min-width: $width_min;
}

.footer__list--primary> :not(:last-child) {
    flex-grow: 1;
}

.footer__list--primary> :not(:last-child),
.footer__item> :not(:last-child) {
    margin-bottom: $size_500;
}

.footer__item p {
    font-weight: 800;
}