@import '_config';
.site-head__brand {
    display: inline-block;
}

.site-head__nav {
    margin: auto;
}

.mobile-decoration {
    padding: $size_200 $size_400;
    background-color: $color_light;
    box-shadow: 0 0 $size_200 rgba(0, 0, 0, 0.15);
}

.mobile-decoration {
    display: flex;
    flex-wrap: wrap;
}

.postscript-logo {
    width: 16vw;
    height: 14vw;
    max-width: 161px;
    max-height: 136px;
    margin: $size_100;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}

.links--application {
    align-items: baseline;
    text-transform: uppercase;
    padding: $size_200 $size_400;
    justify-content: space-between;
}

.burger-toggle {
    align-self: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    height: 2.25rem;
    margin-left: auto;
    padding: 0;
    position: relative;
    width: 2.25rem;
}

.burger-toggle__icon,
.burger-toggle__icon::before,
.burger-toggle__icon::after {
    border: 1px solid $color_dark;
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 3px;
    background-color: $color_dark;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    margin-left: -12px;
    transition: transform 350ms ease-in-out;
}

.burger-toggle__icon {
    top: 50%;
    transform: translateY(-50%);
}

.burger-toggle__icon::before,
.burger-toggle__icon::after {
    content: "";
}

.burger-toggle__icon::before {
    top: -8px;
}

.burger-toggle__icon::after {
    bottom: -8px;
}

@media screen and (max-width: $break_one) {
    .burger-toggle[data-enabled="true"] {
        display: block;
    }
    .burger-toggle[data-enabled="true"]+nav {
        width: 100%;
        display: none;
    }
    .burger-toggle[data-enabled="true"]+nav .links--primary {
        flex-direction: column;
        align-items: center;
        margin-top: $size_600;
    }
    .burger-toggle[data-enabled="true"]+nav .links--primary>* {
        margin-bottom: $size_600;
        margin-right: 0;
    }
    .burger-toggle[data-enabled="true"][data-state="open"]+nav {
        display: block;
    }
    .burger-toggle[data-enabled="true"][data-state="open"] .burger-toggle__icon {
        background-color: transparent;
        border: transparent;
        transform: rotate(180deg);
    }
    .burger-toggle[data-enabled="true"][data-state="open"] .burger-toggle__icon::before {
        top: 0;
        transform: rotate(45deg);
    }
    .burger-toggle[data-enabled="true"][data-state="open"] .burger-toggle__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: $break_two) {
    .site-head {
        align-items: center;
        display: flex;
        padding: $size_400;
    }
    .mobile-decoration {
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        padding: 0;
        flex-grow: 1;
    }
}