@import '_config';
.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($width_min, 1fr));
    grid-gap: $size_400;
}

.full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.stacker> :not(:last-child) {
    margin-bottom: $size_400;
}

.stacker--tightest> :not(:last-child) {
    margin-bottom: $size_200;
}

.stacker--large> :not(:last-child) {
    margin-bottom: $size_700;
}

.stacker--x-large> :not(:last-child) {
    margin-bottom: $size_900;
}

.width--max {
    max-width: $width_max;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
}

.wrapper> :not(:last-child) {
    margin-right: $size_500;
}