@import '_config';
.supporters {
    margin-bottom: -$size_900;
    padding: $size_700 $size_400 $size_800;
}

.supporters header {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul.horizontal-gallery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    max-width: $width_max;
    margin-right: auto;
    margin-left: auto;
}

.horizontal-gallery>* {
    padding: $size_400;
    max-width: $width_half;
}

.supporter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.supporter-card> :not(:last-child) {
    margin-bottom: $size_400;
}

.hospital-card__heading {
    font-size: $size_400;
}

.supporter__logo {
    max-width: 230px;
}

@media screen and (min-width:600px) {
    .supporter-card {
        align-items: start;
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-template-rows: min-content 1fr;
        gap: $size_200 0;
        padding: $size_400;
        text-align: left;
    }
    .supporter-card> :not(:last-child) {
        margin-bottom: 0;
    }
    .supporter-card svg {
        width: 10rem;
        height: 10rem;
        grid-column-start: 1;
        grid-row: 1 / -1;
        margin: -$size_400 0 -$size_400;
    }
}