@import '_config';
@import 'reset';
html {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: $color_dark;
}

main,
header {
    max-width: $width_max;
    margin: 0 auto;
}

main {
    padding: $size_900 $size_400;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: $size_600;
}

h1 {
    font-size: $size_800;
    line-height: 1.1;
    margin-left: auto;
    margin-right: auto;
    max-width: 19ch;
    text-align: center;
}

h2 {
    font-size: $size_700;
    line-height: 1.2;
    max-width: 25ch;
}

h3 {
    font-size: $size_600;
    line-height: 1.25;
    max-width: 33ch;
}

p {
    font-size: $size_400;
    max-width: $width_paragraph;
}

table {
    margin: auto;
    border-collapse: collapse;
    max-width: $width_paragraph;
}

table,
td,
th {
    border: 1px solid;
}

td,
th {
    padding: $size_200;
}

a:link {
    color: $color_dark;
}

a[data-state="active"],
a[data-state="active"]:visited {
    color: $color_primary;
    text-decoration: none;
}

a:visited {
    color: $color_darkish;
}

a.cta {
    color: $color_light;
    background-color: $color_primary;
    border-radius: 1.5em;
    display: inline-block;
    padding: $size_300 $size_500;
}

a.cta--b {
    color: $color_light;
    background-color: $color_primary;
    border-radius: 0.25em;
    box-shadow: 0px 0.125rem 0.25rem $color_secondary;
    display: inline-block;
    padding: $size_300 $size_500;
}

button.secondary {
    background-color: $color_light;
    border: none;
    color: $color_dark;
    padding: $size_200 $size_300;
    text-transform: lowercase;
}

input[type=email].secondary {
    background-color: transparent;
    border: 1px solid $color_secondary;
    color: $color_secondary;
    padding: $size_200 $size_300;
}

.page__sub-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.key-findings-group {
    text-align: center;
}

.key-findings-group>li {
    max-width: 25ch;
}

.percentage-ring {
    fill: $color_primary;
    width: $width_min;
    height: $width_min;
}

.percentage-ring text {
    fill: currentColor;
    font-weight: 900;
    font-size: $size_500;
}

.percentage-ring path {
    opacity: 0.5;
}

.percentage-ring circle {
    stroke: $color_primary;
}

.contributors {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contributor__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.contributor {
    max-width: $width_min;
    padding-right: $size_200;
    padding-left: $size_200;
}

.contributor__name {
    font-weight: 600;
}

.contributor__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
}

@import '_layouts';
@import '_header';
@import '_section-hospitals';
@import '_footer';