@import '_config';
@import 'reset';
html {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
    padding: $size_400;
}

h1 {
    font-size: $size_800;
    line-height: 1.1;
}

h2 {
    font-size: $size_700;
    line-height: 1.2;
}

h3 {
    font-size: $size_600;
    line-height: 1.25;
}

p {
    font-size: $size_400;
    max-width: 60ch;
}

button.secondary {
    background-color: $color_light;
    border: none;
    color: $color_dark;
    padding: $size_200 $size_300;
    text-transform: lowercase;
}

input[type=email].secondary {
    background-color: transparent;
    border: 1px solid $color_secondary;
    color: $color_secondary;
    padding: $size_200 $size_300;
}

ul.key-findings-group {
    text-align: center;
    max-width: calc(60ch + 2rem);
    margin-left: auto;
    margin-right: auto;
}

.percentage-ring {
    fill: $color_primary;
    width: $width_min;
    height: $width_min;
}

.percentage-ring text {
    fill: $color_dark;
    font-weight: 900;
    font-size: $size_500;
}

.percentage-ring path {
    opacity: 0.5;
}

.percentage-ring circle {
    stroke: $color_primary;
}

@import '_layouts';
@import '_section-hospitals';
@import '_footer';