{% set avatar = avatarContent %}

<figure class="contributor stacker--tightest">
    {% if avatar.avatar_url %}
      <img class="contributor__avatar" src="{{ avatar.avatar_url }}" alt="{{ avatar.name }}" />
    {% else %}
      {% include "partials/avatar-default.svg" %}
    {% endif %}

    <figcaption class="stacker--tightest">
      <p class="contributor__name">
        {{ avatar.name }}
      </p>
      <p class="contributor__profession">
        {{ avatar.profession }}
      </p>
    </figcaption>
</figure>