{% set avatar = avatarContent %}

<figure>
    <img src="" alt="">

    <figcaption>
        <p>
          {{ avatar.name }}
      </p>
      <p>
        {{ avatar.profession }}
      </p>
    </figcaption>
</figure>