{% set header = contributorsHeader %}
{% set contributors = contributorsContent %}

<h2>
  {{ header }}
</h2>

<ul class="contributor__list stacker--large">
  {% for contributor in contributors %}
    <li>
      {% set avatarContent = contributor.data %}
      {% include "partials/contributor-avatar.njk" %}
    </li>
  {% endfor %}
</ul>