{% set header = contributorsHeader %}
{% set subheader = contributorsSubHeader %}
{% set contributors = contributorsContent %}

<h2>
  {{ header }}
</h2>

<p>
  {{ subheader }}
</p>

<ul class="contributor-avatars stacker--large">
  {% for contributor in contributors %}
    <li class="contributor-avatar">
      {% set avatarContent = contributor.data %}
      {% include "partials/contributor-avatar.njk" %}
    </li>
  {% endfor %}
</ul>