{% set avatar = avatarContent %}

<figure class="stacker--tightest">
    {% include "partials/avatar-default.svg" %}

    <figcaption class="stacker--tightest">
      <p class="contributor-avatar__name">
        {{ avatar.name }}
      </p>
      <p class="contributor-avatar__profession">
        {{ avatar.profession }}
      </p>
    </figcaption>
</figure>