{% set card = supporterCardContent %}

<article class="supporter-card">
    {% include "partials/avatar-default.svg" %}

    <h3 class="hospital-card__heading">
        {{ card.name }}
    </h3>

    <p>
        {{ card.summary }}
    </p>
</article>