{% set cardContent = hospitalCardContent %}
<figure class="hospital-card--compact">
    {% if hospitalCardContent.logo %}
        {{ hospitalCardContent.logo }}
    {% else %}
        {% include "partials/avatar-default.svg" %}
    {% endif %}

    <figcaption>
        {{ hospitalCardContent.name }}
    </figcaption>
</figure>