{% set content = researchFindingsCardContent %}

<article class="research-findings__card">
  <h2>
    {{ researchFindingsCardContent.heading }}
  </h2>

  <p class="research-findings__card__percentage">
    {{ researchFindingsCardContent.percentage }}%
  </p>

  <p>
    {{ researchFindingsCardContent.summary }}
  </p>
</article>