{% set content = researchFindingsCardContent %}

<article class="research-findings__card">
  <div class="stacker">
    <h2>
      {{ researchFindingsCardContent.heading }}
    </h2>

    <p class="research-findings__card__percentage">
      {{ researchFindingsCardContent.percentage }}%
    </p>

    <p>
      {{ researchFindingsCardContent.summary }}
    </p>
  </div>

  {% if researchFindingsCardContent.image %}
    <img src="{{ researchFindingsCardContent.image.src }}" alt="{{ researchFindingsCardContent.image.alt }}" />
  {% endif %}
</article>