<section class="hospitals">
    <h2>
        Hospitals
    </h2>

    <p>
        Maecenas sagittis, lacus ac euismod tincidunt, nibh.
    </p>

    <ul class="horizontal-gallery">
        <li>
            <article class="hospital-card">
                <img src="" alt="">

                <h3>
                    Hospital name
                </h3>

                <p>
                    Maecenas sagittis, lacus ac euismod tincidunt, nibh ligula placererat, a viverra erat nibh in eros. Sed ultrices sapien at velit malesuada consequat.
                </p>
            </article>
        </li>

        <li>
            <article class="hospital-card">
                <img src="" alt="">

                <h3>
                    Hospital name 2
                </h3>

                <p>
                    Maecenas sagittis, lacus ac euismod tincidunt, nibh ligula placererat, a viverra erat nibh in eros. Sed ultrices sapien at velit malesuada consequat.
                </p>
            </article>
        </li>
    </ul>

    <ul class="horizontal-gallery">
        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    Hospital name 1
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    Hospital name 2
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    Hospital name 3
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    Hospital name 4
                </figcaption>
            </figure>
        </li>

    </ul>
</section>