<section class="testminonials">
    <ul class="caroussel">
        {% for professional in testimonials %}
            <li>
                <figure class="stacker">
                    <blockquote>
                        <p>
                            {{ professional.testimonial }}
                        </p>
                    </blockquote>

                    <figcaption>
                        <cite class="stacker-tightest">
                            <p class="contributor__name">
                                {{ professional.name }}
                            </p>

                            <p class="contributor__profession">
                                {{ professional.profession }}
                            </p>
                        </cite>
                    </figcaption>
                </figure>
            </li>
        {% endfor %}
    </ul>
</section>