<section class="contributors">
    <h2>
        Specialty Leads
    </h2>

    <p>
        We are grateful to these pioneering specialists who contributed to the medical illustrations.
    </p>

    <ul>
        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    <cite>
                      Dr. Padma Mohandas MRCP MRCGP MSc <span>Consultant  Dermatologist Bart's Health</span>
                  </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    <cite>
                        Dr. Ali Al Bukhari <span>S weew emper nisl, et finibus nisi. Lorem ipsum dolor sit amet</span>
                     </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <img src="" alt="">

                <figcaption>
                    <cite>
                        Dr. Jane Marsdon <span>Semper nisl, et finibus nisi. Lorem ipsum dolor sit amet</span>
                    </cite>
                </figcaption>
            </figure>
        </li>
    </ul>

    <a href="/contributors.html">
      See all contributors
    </a>
</section>