<section class="supporters stacker--large full-bleed">
    <header class="stacker">
        <h2>
            The following sponsors have supported the development of resources on Postscript
        </h2>
    </header>

    <ul class="horizontal-gallery">
        {% for supporter in supporters %}
            {% set supporterCardContent = supporter %}
            {% include "partials/supporter-card--compact.njk" %}
        {% endfor %}
    </ul>
</section>