<section class="effectiveness">
    <h2>
        Just how effective is PostScriptMedical?
    </h2>

    <p>
        We evaluated the use of our illustrative tool with Clinical Nurse specialists- This is what they said...
    </p>

    <ul>
        <li>
            <figure>
                <svg></svg>

                <figcaption>Improved patient knowledge of their condition</figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <svg></svg>

                <figcaption>Explaining complex terminology was made easier</figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <svg></svg>

                <figcaption>Patients have a better understanding of surgery</figcaption>
            </figure>
        </li>
    </ul>



</section>