<section class="effectiveness">
    <h2>
        Just how effective is PostScriptMedical?
    </h2>

    <p>
        We evaluated the use of our illustrative tool with Clinical Nurse specialists- This is what they said...
    </p>

    {% set groupContent = collections.keyFindings %}
    {% include "partials/key-findings-group.njk" %}
</section>