<section class="contributors">
    {% set contributorsHeader = "Specialty Leads" %}
    {% set contributorsSubHeader = "We are grateful to these pioneering specialists who contributed to the medical illustrations." %}
    {% set contributorsContent = collections.contributorsGastroenterology %}
    {% include "partials/contributors-specialty.njk" %}

    <a href="/contributors">
      See all contributors
    </a>
</section>