<section class="testminonials">
    <ul>
        <li>
            <figure>
                <blockquote>
                    <p>
                        This Illustrative Tool is great! It allows me to communicate and engage better with my patents. I definitely feel it has aided my practice and improved patient understanding of conditions and therapy decisions.
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                        Nishani Jayasooriya, <span>ST7 Gastroenterologist</span>
                    </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote>
                    <p>
                        I love the clarity of the illustrations and the ability to personalise them directly in front of the patient. The ability to share the illustration at the end of the consultation is a nice touch and provides the patient with a reference of the consultation
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                        Dr Deepak Suri, <span>Consultant Gastroenterologist</span>
                    </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote>
                    <p>
                        PostScript is dynamic and innovative! It will be an asset to any department to allow patient focused care during consultations. There has been a huge shift to virtual consultations and these illustrations will help a lot with patient care. It will allow
                        patients to receive a more personal consultation without the need to be face to face.
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                        Carly Wilkins <span>Upper GI CNS at Royal Free London Hospital NHS Trust </span>
                    </cite>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>