<section class="hospitals stacker--large full-bleed">
    <header class="stacker">
        <h2>
            PostScript is supported by
        </h2>
    </header>

    <ul class="horizontal-gallery">
        {% for supporter in supporters %}
            {% set hospitalCardContent = supporter %}
            {% include "partials/hospital-card--compact.njk" %}
        {% endfor %}
    </ul>
</section>