<section class="testminonials">
    <ul>
        <li>
            <figure>
                <blockquote>
                    <p>
                        Great platform to improve communications with our patients. We can quickly mark up and explain the case and draw it and send it to the patient directly.
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                       Dr. John Smith <span>Specialist in a special hospital</span>
                    </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eveniet atque eaque, quibusdam praesentium voluptates magnam delectus natus repellendus quia omnis in adipisci libero numquam similique tempore culpa, eos quo?
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                        Dr. John Smith <span>Specialist in a special hospital</span>
                    </cite>
                </figcaption>
            </figure>
        </li>

        <li>
            <figure>
                <blockquote>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eveniet atque eaque, quibusdam praesentium voluptates magnam delectus natus repellendus quia omnis in adipisci libero numquam similique tempore culpa, eos quo?
                    </p>
                </blockquote>

                <figcaption>
                    <cite>
                        Dr. John Smith <span>Specialist in a special hospital</span>
                    </cite>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>