<section class="effectiveness full-bleed">
    <div class="effectiveness-grid width--max">
        <h2>
            Just how effective is PostScript?
        </h2>

        <p>
            We evaluated the use of our illustrative tool with a group of Clinical Nurse specialists. This is what they said...
        </p>

        {% set groupContent = keyFindings.homePage %}
        {% include "partials/key-findings-group.njk" %}
    </div>
</section>