<header role="banner" class="site-head">
    <a href="/" aria-label="Postscript medical" class="site-head__brand">
    {% include "partials/brand.svg" %}
  </a>

    <nav class="site-head__nav" aria-label="Primary">
        <ul class="nav__list">
            <li>
                <a href="/research">Research</a>
            </li>

            <li>
                <a href="/contributors">Contributors</a>
            </li>

            <li>
                <a href="/pricing">Pricing</a>
            </li>

            <li>
                <a href="/about-us">About us</a>
            </li>
        </ul>
    </nav>

    <nav aria-label="Secondary">
        <ul>
            <li>
                <a href="https://app.postscriptmedical.com/">Sign in</a>
            </li>

            <li>
                <a href="https://app.postscriptmedical.com/sign-up">Get started</a>
            </li>
        </ul>
    </nav>
</header>