<footer>
    <ul>
        <li>
            <p>
                Accessibility
            </p>

            <ul>
                <li>
                    <a href="/terms_and_conditions.html">
                      Terms & conditions
                    </a>
                </li>

                <li>
                    <a href="/privacy_policy.html">
                      Pricacy Policy
                    </a>
                </li>

                <li>
                    <a href="/faqs.html">
                      FAQs
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <p>
                Legal
            </p>

            <ul>
                <li>
                    <a href="/team.html">
                      Team
                    </a>
                </li>

                <li>
                    <a href="/blog.html">
                      Blog
                    </a>
                </li>

                <li>
                    <a href="/payment.html">
                      Payment
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <p>
                Sign up for our news
            </p>

            <form action="">
                <input type="email" placeholder="Enter your email" required>

                <button type="submit">Subscribe</button>
            </form>

            <ul class="social-share">
                <li>
                    <a href="">
                      Facebook
                    </a>
                </li>

                <li>
                    <a href="">
                      Twitter
                    </a>
                </li>

                <li>
                    <a href="">
                      LinkedIn
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</footer>