<footer>
    <ul class="footer__list--primary">
        <li class="footer__item">
            <p>
                Legal
            </p>

            <ul class="footer__list">
                <li>
                    <a href="/cookie-policy">
                      Cookie policy
                    </a>
                </li>

                <li>
                    <a href="/terms-of-use">
                      Terms of use
                    </a>
                </li>

                <li>
                    <a href="/privacy-policy">
                      Privacy Policy
                    </a>
                </li>
            </ul>
        </li>

        <li class="footer__item">
            <p>
                Navigation
            </p>

            <ul class="footer__list">
                <li>
                    <a href="/research">Research</a>
                </li>

                <li>
                    <a href="/contributors">Contributors</a>
                </li>

                <li>
                    <a href="/pricing">Pricing</a>
                </li>

                <li>
                    <a href="/about-us">About us</a>
                </li>
            </ul>
        </li>

        <li class="footer__item">
            <p>
                Sign up for our news
            </p>

            <form class="wrapper" action="">
                <input class="secondary" type="email" placeholder="Enter your email" required>

                <button class="secondary" type="submit">Subscribe</button>
            </form>

            <ul class="social-share">
                <li>
                    <a href="">
                      Facebook
                    </a>
                </li>

                <li>
                    <a href="">
                      Twitter
                    </a>
                </li>

                <li>
                    <a href="">
                      LinkedIn
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</footer>