<footer>
    <ul class="footer__list--primary">
        <li class="footer__item">
            <p>
                Navigation
            </p>

            <ul class="footer__list">
                <li>
                    <a href="/" {{ helpers.getLinkActiveState('/', page.url) | safe }}>
                        Home
                    </a>
                </li>
                {% for item in navigation.primary %}
                    <li>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                            {{ item.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <li class="footer__item">
            <p>
                Legal
            </p>

            <ul class="footer__list">
                {% for item in navigation.legals %}
                    <li>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                            {{ item.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <li class="footer__item">
            <p>
                Social
            </p>

            <ul class="social-share">
                <li>
                    <a href="https://twitter.com/postscriptmed" target="_blank">
                      Twitter
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/company/postscriptmedical/" target="_blank">
                      LinkedIn
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</footer>